.main { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-container-presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
  color: white;
}
